
    <div class="wrapper" ng-controller="loginViewController">
    <form class="form-signin">       
       <label><h4>Name</h4></label><br>
      <input type="text" class="form-control" name="name" placeholder="Enter Name" required="" autofocus="" ng-model="regUser.name"/>
       <label><h4>Phone</h4></label><br>
      <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" required="" ng-model="regUser.phone"/> 
       <label><h4>Email ID</h4></label><br>
      <input type="text" class="form-control" name="email" placeholder="Enter Email ID" required="" autofocus="" ng-model="regUser.email"/>
       <label><h4>Address</h4></label><br>
      <input type="text" class="form-control" name="address" placeholder="Enter Address" required="" ng-model="regUser.address"/> 
       <label><h4>Username</h4></label><br>
      <input type="text" class="form-control" name="username" placeholder="Enter Username" required="" autofocus="" ng-model="regUser.uname"/>
       <label><h4>Password</h4></label><br>
      <input type="password" class="form-control" name="password" placeholder="Enter Password" required="" ng-model="regUser.password"/> 
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="registerNewUser()" value="submit" id="registerButton">Register</button>   
    </form>
  </div>