    <div class="wrapper" ng-controller="loginViewController">
    <form class="form-signin">  
        <label><h4>Username</h4></label><br>     
      <input type="text" class="form-control" name="username" placeholder="Enter Username" required="" autofocus="" ng-model="user.uname"/>
      <label><h4>Password</h4></label><br>
      <input type="password" class="form-control" name="password" placeholder="Enter Password" required="" ng-model="user.password"/> 
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()" value="submit" id="submitButton">Login</button>   
    </form>
  </div>